body{
    background-color: aquamarine;
    color: blue;
}
h1
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    font-style: oblique;
}
h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.reponse
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bolder;
    font-style: oblique;   
}

.button
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}
.btn
{
    border-radius: 40px 40px;
    background-color: cornflowerblue;
    width: 150px;
    height: 50px;
    cursor: pointer;
}
footer
{
    display: flex;
    justify-content: flex-end;
}

.invalid {
    color:  red;
  }
  
  .valid {
    color: green;


















