* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
body{
    background-color: aquamarine;
    color: blue;
}
form{
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
 }
h1
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    font-style: oblique;
    margin-top: 1em;
    padding-bottom: 1em;
}
h2
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-top: 1em;
    margin-bottom: 1em;
   
}
h3{
    color: cornflowerblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
#question{
   
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 80px;
    font-style: oblique;
 }
.answsers
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    font-weight: bolder;
    font-style: oblique;   
}

.btn
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
}
button{
    border-radius: 40px 40px;
    background-color: cornflowerblue;
    width: 70px;
    height: 30px;
    cursor: pointer;
}
footer
{
    display: flex;
    justify-content: flex-end;
}

.invalid {
    color:  red;
  }
  
  .valid {
    color: green;


















